# Gradle
.gradle/
build/
*/build/
!gradle-wrapper.jar

# Local configuration
local.properties
.gradle/
.idea/
*.iml

# Log files
*.log

# Android Studio
captures/
.externalNativeBuild/
.cxx/

# Keystore files (niemals ins Repo!)
*.jks
*.keystore

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Other
*.swp
*.lock