*.iml
.idea/
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.gradle/
build/
captures/
.externalNativeBuild/
.cxx/
local.properties
.DS_Store
Thumbs.db
*.apk
*.ap_
*.aab
*.jks
*.keystore
google-services.json
*.log
*.hprof